<h1>Leave A Message....</h1>

<% if user_signed_in? %>
<h2>Hello,
  <%= current_user.username %></h2>
<a class="btn" href="/posts/new">NEW ENTRY
</a>
<% end %>

<% @posts.each do |post| %>

<h3>To Whom It May Concern...</h3>

<h4><%= post.content %></h4>
<h5>Posted
  <%= time_ago_in_words (post.created_at) %></h5>

<hr>
</div>
<%end%>
