$text_color: white;
$main_color: black;
$text_shadow: 1px 1px 3px grey;

nav{
  margin-bottom: -1em;
}

.nav-wrapper {
  background-color: $main_color;

}

body {
  text-color: $text_color;
  // background-color: $main_color;

}

.jumbotron {

  background-image: url("pexels-photo.jpg");
  background-size: cover;
  color: black;
  // background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;


}

hr {
  color: black;
}

.text-area{
  height: 250px;
  width: 520px;
  overflow: auto;
}

.new-post {
  display: flex;
  justify-content: center;

}

.posts_index {
  text-align: center;
}

.user-show-posts{
display: flex;
align-items: center;
justify-content: center;
align-content: center;
flex-direction: column;
}
